{% for post in posts %}
  {{ post.title }}
  <br>
  {{ post.category }}
  <br>
  {{ post.intro }}
  <br>
  <a href="{{ url('post.view',{'slug': post.slug}) }}">Read more</a>
  <br>
  <br>
{% endfor %}